// COLORS

$color-primary-1:#0984e3;
$color-primary-2:#54a0ff;

$color-dark-1:#2d3436;
$color-dark-2:#222f3e;

$color-light-1:#ffffff;
$color-light-2:#dfe6e9;

$shadow-1:0 0 2rem rgba(black,0.4);
$shadow-2:0 0 3rem rgba(black,0.6);
$shadow-3:0 0 2rem rgba(white,0.4);
$shadow-4:0 0 3rem rgba(white,0.6);